{% extends 'base.html' %}

{% block title %} POSTS {% endblock %}

{% block content %}

    <h1>Post № {{ post.id }} - {{ post.title }}</h1>

    <p><strong>Title:</strong> {{ post.title }}</p>
    <p><strong>Category:</strong> {{ post.category }}</p>
    <p><strong>Published on:</strong> {{ post.publish_date.strftime('%Y-%m-%d') }}</p>
    <p><strong>Content:</strong> {{ post.content }}</p>

    {% if post.author %}
    <p><strong>Author:</strong> {{ post.author }}</p>
    {% else %}
    <p><strong>Author:</strong> Anonymous</p>
    {% endif %}

    {% if post.is_active %}
    <p><strong>Status:</strong> Active</p>
    {% else %}
    <p><strong>Status:</strong> Inactive</p>
    {% endif %}

   
    <form method="POST" action="{{ url_for('posts.delete_post', id=post.id) }}" style="display:inline;">
        <button type="submit" class="btn btn-danger mt-3" onclick="return confirm('Are you sure you want to delete this post?')">
            Delete Post
        </button>
    </form>

 
    <a href="{{ url_for('posts.edit_post', id=post.id) }}" class="btn btn-warning mt-3" style="display:inline;">
        Edit Post
    </a>

 
    <a href="{{ url_for('posts.get_posts') }}" class="btn btn-secondary mt-3">Return to Posts</a>

{% endblock %}
