{% extends 'base.html' %}

{% block title %}POSTS{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

<div class="container mt-5">
    <div class="row">
        {% for post in posts %}
            <div class="col-md-6 col-lg-4 mt-5">
                <div class="blog-grid">
                    <div class="blog-grid-img position-relative">
                        <img alt="img" src="https://www.bootdey.com/image/480x480/00FFFF/000000">
                    </div>
                    <div class="blog-grid-text p-4">
                        <h3 class="h5 mb-3">
                            <a href="{{ url_for('posts.detail_post', id=post['id']) }}">{{ post['title'] }}</a>
                        </h3>
                        <p class="display-30">{{ post['content'][:100] }}...</p>
                        <div class="meta meta-style2">
                            <ul>
                                <li><a href="#!"><i class="fas fa-calendar-alt"></i> {{ post['publish_date'] }}</a></li>
                                <li><a href="#!"><i class="fas fa-user"></i> {{ post['author'] }}</a></li>
                                <li><a href="#!"><i class="fas fa-comments"></i> 0</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row mt-6">
        <div class="col-12">
            <div class="pagination text-small text-uppercase text-extra-dark-gray">
                <ul>
                    <li><a href="#!"><i class="fas fa-long-arrow-alt-left me-1 d-none d-sm-inline-block"></i> Prev</a></li>
                    <li class="active"><a href="#!">1</a></li>
                    <li><a href="#!">2</a></li>
                    <li><a href="#!">3</a></li>
                    <li><a href="#!">Next <i class="fas fa-long-arrow-alt-right ms-1 d-none d-sm-inline-block"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<style>body {
    margin-top: 20px;


}

.blog-grid {
    position: relative;
    box-shadow: 0 1rem 1.75rem 0 rgba(45, 55, 75, 0.1);
    border: 1px solid rgba(220, 224, 229, 0.6);
    border-radius: 0.25rem;
    transition: all .2s ease-in-out;
}

.blog-grid:hover {
    transform: translateY(-5px);
}

.blog-grid img {
    width: 100%;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.blog-grid-text {
    position: relative;
}

.blog-grid-text h3 {
    margin-bottom: 15px;
    font-size: 1.2rem;
    line-height: 1.4;
}

.meta-style2 ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.meta-style2 ul li {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin-right: 15px;
}

.meta-style2 ul li i {
    margin-right: 5px;
    color: #ce1a29;
}

.pagination ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pagination ul li {
    display: inline;
}

.pagination a {
    padding: 0 18px;
    line-height: 40px;
    border: 1px solid #dbdbdb;
    background: #fff;
    text-decoration: none;
    color: #575a7b;
}

.pagination .active a {
    background-color: #f7f7f7;
    color: #999;
    cursor: default;
}
</style>
{% endblock %}